{% load static %}
<!--footer start-->

<div class="footer mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h5>Address</h5>
              <hr>
              <p>
                  VAWARE SOCIETY,SHIV NAGAR <br>
                  WAKAD,MUMBAI-PUNE ROAD <br>
                  PUNE <br><br>
                  <i class="bi bi-telephone-fill text-danger"></i>: 9373467255 <br>
                  <i class="bi bi-envelope-paper-fill text-danger"></i>: minetech991@gmail.com
              </p>
          </div>
          <div class="col-md-4">
            <h5>Quick Links</h5><hr>
            <a href="/">Home</a><br>
            <a href="/about">About</a><br>
            <a href="/contact">Contact</a><br>
          </div>
          <div class="col-md-4">
              <h5>Connect Us</h5>
              <hr>
              <h5><a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></h5>
              <h5><a href="http://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i> Twitter</a></h5>
              <h5><a href="http://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></h5>
              <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i> LinkedIn</a></h5>
          </div>
      </div>
  </div>
</div>

<style>
  .footer {
      background-color: #343a40;
      color: #fff;
      padding: 20px 0;
  }

  .footer a {
      color: #fff;
      text-decoration: none;
  }

  .footer a:hover {
      color: #ffdd57;
  }

  .footer .bi {
      margin-right: 10px;
  }

  .footer h5 {
      margin-bottom: 15px;
  }

  .footer hr {
      border-top: 1px solid #ffdd57;
  }
</style>


<script src="{% static './asset/js/popper.min.js'%}"></script>
<script src="{% static './asset/js/bootstrap.min.js'%}"></script>



</body>
</html>